<ion-header translucent no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="light">
          <ion-icon slot="start" name="ios-arrow-back"></ion-icon>
          Perfil
        </ion-button>
      </ion-buttons>
      <ion-title>&nbsp;</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" src="../../assets/checkmark-filled.svg"></ion-icon>
         </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen="true" slot="fixed" >
      <div class="card">
        <div class="header">
          <div class="avatar">
            <img src="../../assets/profile.png" alt="">
          </div>
        </div>
        <div class="card-body">
          <div class="user-meta ion-text-center">
            <h3 class="playername">Oscar Mendez</h3>
            <h5 class="country">Ing. Sistemas Computacionales</h5>
            <h6 class="ranking"> </h6>
          </div>
          <br/>
          <ion-button expand="full" color="secondary">Asignaturas cursadas: 47</ion-button>
          <ion-button expand="full" color="secondary">Por cursar: 3</ion-button>
          <ion-button expand="full" color="secondary">Indice: 85</ion-button>
          <ion-button expand="full" color="secondary" (click)="logout()">Cerrar sesion</ion-button>
  
        </div>
      </div>
  </ion-content>